.userPhoto img{
    width: 90px;
    border-radius: 60px;
}


.userItem {
    color: rgb(202, 201, 201)
}

.selectedPage {
    background-color: darkred;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px 5px 5px;
    border: 1px solid beige;
}
.paginator {

}
