

.messages {
color:wheat;
padding: 15px;

}

.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}

.dialogsItems {
 
}
.dialogsItems .a {
    color: white;
    text-decoration:none;
}

.dialog {
 color: white
}

.dialog .a {
    color: white;
    text-decoration:none;
   }

.dialog img {
    width: 50px;
    border-radius: 30px;
}